.filter {
  display: inline;
}

#line-decoration {
  border-top: #525252 2px solid;
}

h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.icon {
  margin-right: 10px;
}
.icon i {
  cursor: pointer;
}
